{% extends "base.html" %}

{% block app_content %}

    <h3>{{ restaurant.name }}</h3>
    <h4>{{ restaurant.location }}</h4>

     <!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css"
          type="text/css">
       <link rel="stylesheet" href="openstreetmap.css" type="text/css">


    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
    <title>OpenLayers example</title>
  </head>
  <body>
    <div id="map" style="width: 600px; height: 400px;"></div>
    <div id="popup" class="ol-popup">
      <a href="#" id="popup-closer" class="ol-popup-closer"></a>
      <div id="popup-content"></div>
    </div>

    <script type="text/javascript">
      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([{{ restaurant.longitude }},{{ restaurant.latitude }}]),
          zoom: 12
        })
      });

      // Add a Marker
      var layer = new ol.layer.Vector({
        source: new ol.source.Vector({
          features: [
            new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.fromLonLat([{{ restaurant.longitude }},{{ restaurant.latitude }}]))
            })
          ]
        })
      });
      map.addLayer(layer);


      // Add a popup
      var container = document.getElementById('popup');
      var content = document.getElementById('popup-content');
      var closer = document.getElementById('popup-closer');

      var overlay = new ol.Overlay({
        element: container,
        autoPan: true,
        autoPanAnimation: {
          duration: 250
        }
      });
      map.addOverlay(overlay);

      closer.onclick = function() {
        overlay.setPosition(undefined);
        closer.blur();
        return false;
      };

      map.on('singleclick', function (event) {
        if (map.hasFeatureAtPixel(event.pixel) === true) {
          var coordinate = event.coordinate;

          content.innerHTML = '<b>{{ restaurant.name }}</b>';
          overlay.setPosition(coordinate);
        } else {
          overlay.setPosition(undefined);
          closer.blur();
        }
      });

      map.on('singleclick', function (event) {
        if (map.hasFeatureAtPixel(event.pixel) === true) {
          var coordinate = event.coordinate;

          content.innerHTML = '<b>{{ restaurant.name }}</b>';
          overlay.setPosition(coordinate);
        } else {
          overlay.setPosition(undefined);
          closer.blur();
        }
      });

    </script>


  </body>
</html>

    <h4>{{ restaurant.rating }}/5</h4>
    <p>Description: {{ restaurant.description }}</p>
    <p>Dishes from the Restaurant:</p>
    {% for dish in dishes %}

        <a href="{{ url_for('dish', name=dish.name) }}">{{ dish.name }}</a>

    {% endfor %}

    <hr>
    {% for review in reviews %}
        {% include '_review.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
    <p></p>
    <p></p>
    <a href={{ url_for('addrestaurantreview') }}>Add Restaurant Review</a>

{%  endblock %}
