{% extends "base.html" %}

{% block app_content %}

    <h3>{{ restaurant.name}}</h3>
    <h4>{{ restaurant.location }}</h4>

    <h4>{{ restaurant.rating }}/5</h4>
    <p>Description: {{ restaurant.description }}</p>
    <p>Dishes from the Restaurant:</p>
    {% for dish in dishes %}

        <a href="{{ url_for('dish', name=dish.name) }}">{{ dish.name }}</a>

    {% endfor %}

    <hr>
    {% for review in reviews %}
        {% include '_review.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
    <p></p>
    <p></p>
    <a href={{ url_for('addrestaurantreview') }}>Add Restaurant Review</a>

{%  endblock %}
